@import url('setup.css');
@import url('utils/text.css');
@import url('component/button.css');
@import url('component/input.css');
@import url('component/select.css');

nav{
    background: var(--primaryColor);
    padding: 30px 20px 140px 0px;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;   
}

.left-logo{
    background: white;
    padding: 7px 10px ;
    width: 40%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

header{
    padding: 40px 0 79px 0;
}



.learn{
    background-color: #F9F9FB;
    padding: 50px 0;
}

.reels-cover video{
    height: 403px;
    width: 100%;
}

.reels-cover div{
    border-radius: 20px;
    overflow: hidden;
}

.reels-cover{
    margin-left: 10px;
}

.book{
    padding: 130px 0;
}

.instructor-box{
    background-color: var(--primaryColor);
    padding: 100px 35px;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
}

footer{
    background: #F9F9FB;
    padding: 56px 0;
}

.footer-list{
    background: white;
    padding: 10px 12px;
    border-radius: 9px;
}

@media screen and (min-width : 768px) {

    .instructor-box{
        background-color: var(--primaryColor);
        padding: 80px 35px;
        border-radius: 20px;
    }

    header{
        padding: 253px 0 79px 0;
    }

}