.custom-input{
    border-radius: 100px;
    border: none;
    background-color: #F9F9FB;
    padding: 12px 18px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    font-family: 'NeutrifPro';
}

.custom-input-rounded{
    border-radius: 12px;
    border: none;
    background-color: #F9F9FB;
    padding: 12px 18px;
    /* min-width: 300px; */
    outline: none;
    color: #8F8F8F;
}

.custom-input-rounded::placeholder{
    color: #8F8F8F;
}

.custom-input:focus{
    box-shadow: 0 0 12px #f9f9ff;
    border: none;
}

@media screen and (min-width:768px) {
    .custom-input{
        width: 500px;
        margin-left: 0;
        margin-right: 0;
    }
}